html {
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid #ff0062;
  font-size: 1rem;
}

.flex-jc-ac {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: #ff0062;
}

.header-text h1 {
  color: white;
}

.projects {
  width: 75%;
  margin: 3.5rem auto;
}

.active-projects {
  margin-bottom: 1.5rem;
  border: 1px solid #870099;
}

.finished-projects {
  border: 1px solid #535353;
}

.active-projects-list {
  max-height: 500px;
  min-height: 20px;
  overflow: scroll;
}

.finished-projects-list {
  max-height: 300px;
  min-height: 10px;
  overflow: scroll;
}

.list-header {
  padding: 0 1.25rem;
  color: white;
}

.active-header {
  background-color: #870099;
}

.finished-header {
  background-color: #535353;
}

.droppable {
  background-color: #dc447e;
}

.project-card {
  margin: 1rem;
  padding: 0.75rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background: white;
  border-radius: 10px;
}

.project-card h2 {
  margin: 1.5rem 0;
  color: black;
}

.project-card p {
  margin-bottom: 1.5rem;
  color: black;
}

#tool-tip {
  position: absolute;
  margin: 0;
  width: 50%;
}

.main-btn {
  background-color: #ff0062;
  color: white;
}
.alt-btn {
  margin-right: 0.5rem;
  background-color: transparent;
  color: #ff0062;
}

.alt-btn:hover {
  background-color: #ff0062;
  color: white;
}
