* {
  box-sizing: border-box;
}
html {
  font-family: Verdana;
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 2.5rem;
}

#header-txt {
  padding: 3.5rem 3rem;
  background-image: linear-gradient(to right, #101010, cyan);
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
